:root {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

body {
    background: renderColor(background-color);
    color: renderColor(text-body);
    font-size: 16px;
}


