.btn {
    transition: 0.3s;
    border: none;
    border-radius: $spacer * 4;
    padding: $spacer * 2.5 $spacer * 4;
    outline: none;
    cursor: pointer;

    &:focus-visible {
        outline-width: 1px;
        outline-style: dashed;
        outline-color: #000;
    }
}

.btn--primary {
    box-shadow: renderShadow(colored);
    background-color: renderColor(primary);
    color: renderColor(text-light);
    
    &:focus,
    &:hover {
        box-shadow: renderShadow(colored-focused);
        background-color: darken(renderColor(primary), 5%);
    }

    &:focus-visible {
        outline-color: renderColor(primary);
    }
}

.btn--floating {
    $size: $spacer * 9;

    position: absolute;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: $size;
    height: $size;
    padding: 0;
}

.btn--floating--top {
    top: 0;
    transform: translateY(-50%);
}