$border-radius: $spacer * 2.5;

.glasscard {
    box-shadow: 0 32px 48px -16px rgba(38, 50, 56, 0.1);
    border-radius: $border-radius;
    border: 1px solid rgba(255,255,255,0.2);
    width: 100%;
    max-width: 340px;
    background: rgba(255,255,255,0.4); 
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.75), rgba(255,255,255,0.2));
    
    &__body {
        width: 100%;
        padding: $spacer * 5 $spacer * 3 $spacer * 2;
    }

    &__title {
        margin-top: 0;
    }

    &__footer {
        border-radius: $border-radius/1.2 $border-radius/1.2 $border-radius $border-radius;
        background: rgba(255, 255, 255, 0.7); 
        background: linear-gradient(13deg, #fff 32%, rgba(255, 255, 255, 0.5) 100%);
        width: 100%;
        min-height: $border-radius * 5;
        padding: $spacer * 4 $spacer * 3 $spacer * 6;
    }

    &__hero img {
        width: 80%;
    }

}

@supports (backdrop-filter: blur(5px)) {
    .glasscard {
        backdrop-filter: blur(5px);
    }
}
