<main class="page__wrapper page__wrapper--pink flex justify-center items-center">
    <form [formGroup]="signInForm" (ngSubmit)="onLogin()" class="form flex justify-center items-center">
        <div class="glasscard flex flex-col justify-center items-center">
            <div class="glasscard__body">
                <h2 class="glasscard__title title--h2">Přihlaste se</h2>
                <div class="form__item">
                    <label for="email" class="form__label form__label--required">
                        Váš e-mail
                    </label>
                    <input id="email" type="email" class="form__input" [ngClass]="{'form__input--error': email.invalid && isSubmitted}" formControlName="email" placeholder="petr.novotny@gmail.com" required>
                    <div *ngIf="isInputValid('email')" class="message message--error" aria-live="assertive">
                        <p *ngIf="email.errors.required">
                            Email musí být vyplněn.
                        </p>
                        <p *ngIf="email.errors.pattern">
                            Zadejte prosím platný email.
                        </p>
                    </div>
                </div>
                <div class="form__item">
                    <label for="password" class="form__label form__label--required">
                        Vaše heslo
                    </label>
                    <input id="password" type="password" class="form__input" [ngClass]="{'form__input--error': password.invalid && isSubmitted}" formControlName="password" placeholder="min. 6 znaky" required>
                    <div *ngIf="isInputValid('password')" class="message message--error" aria-live="assertive">
                        <p *ngIf="password.errors.required">
                            Heslo musí být vyplněno.
                        </p>
                        <p *ngIf="password.errors.minlength">
                            Heslo musí obsahovat alespoň 6&nbsp;znaků.
                        </p>
                    </div>
                </div>
            </div>
            <div class="glasscard__footer form__actions flex flex-col items-center justify-center">
                <div *ngIf="errorMessage" class="message message--error mb-2 text-center" aria-live="assertive">{{ errorMessage }}</div>
                <button type="submit" class="btn btn--primary form__submit">
                    Přihlásit se
                </button>
            </div>
        </div>
    </form>
</main>

